.BoardContainer{

  margin:auto;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  width:45vw;
  
  height:100vh;
  border: 10px solid black;

}

.can{

  border: 10px solid black;
  width: 40vw;
  height:100vh;
  padding:10px;

}